/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.modal-open footer {
    display: none;
}


body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Evitar el scroll en la página */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    background-size: cover;
    z-index: -1;
}

/* Estilos del contenedor de la imagen */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 75vh; /* Toma toda la altura de la pantalla */
    z-index: 1;
}

.image-container img {
    width: 500px;
    height: 670.54px;
    max-width: none; /* Asegura que el tamaño sea fijo en todos los dispositivos */
}

/* Estilos del contenido */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    top: 60%;
    transform: translateY(-60%);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 0;
    font-size: 1.2rem;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 2;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

footer span {
    color: #e30000;
}

footer img {
    width: 100%;  /* Hace que la imagen ocupe todo el ancho del footer */
    max-height: 900px;  /* Ajusta según sea necesario */
    object-fit: contain;  /* Asegura que la imagen se ajuste sin distorsionarse */
}


/* Estilos para los botones circulares con imágenes */
.button-container {
    position: absolute;
    bottom: 150px; /* Mueve los botones más arriba para que no toquen el mapa */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.circle-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Asignar las imágenes de fondo a los botones */
#islands {
    background-image: url('Recurso\ 4@2x.png');
}

#highlands {
    background-image: url('Recurso\ 7@2x.png');
}

#speyside {
    background-image: url('Recurso\ 8@2x.png');
}

#lowlands {
    background-image: url('Recurso\ 9@2x.png');
}

/* Estilos del modal de video */
.video-modal {
    display: none;
    position: fixed;
    top: 19px;
    left: 0;
    width: 100%;
    height: 94vh; /* Asegura que el modal ocupe toda la pantalla */
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro semi-transparente */
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-modal video {
    width: 809px;
    height: 1130px;
}



.close-btn {
    position: absolute;
    top: -2%;  /* Ajusta según sea necesario para mantenerlo alineado */
    left: 19%; /* Ajusta según sea necesario para mantenerlo alineado */
    font-size: 4rem;  /* Cambiado a 4rem para hacer la "X" más grande */
    color: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 101;
    width: 51px;  /* Ajustado para darle más espacio al botón */
    height: 51px; /* Ajustado para darle más espacio al botón */
}

/* Ocultar los controles en Safari y otros navegadores */
video::-webkit-media-controls {
    display: none !important;
}

/* Asegurar que el video se muestre sin controles en general */
video {
    outline: none;
    -webkit-appearance: none;
}
